<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Port" value="5051" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
	<add name="ConnType" connectionString="SqlServer"/>
    <add name="ConnStr" connectionString=" Data Source=DESKTOP-TR6R826\SQLEXPRESS;Initial Catalog=UMSTCP;User ID=sa;Password=Mago@1234;" />
  </connectionStrings>
</configuration>